 {% extends 'template.html' %}
 {% load static %}
 {% block content %}
 <div class="container">
            <main>
              <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="{% static 'assets/img/icon.png' %}" alt="" width="72" height="57">
                <h2>Datos de pago</h2>
              </div>
          
              <div class="row g-5">
                <div class="col-md-5 col-lg-4 order-md-last">
                  <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Totales:</span>
                    <span class="badge bg-primary rounded-pill">n</span>
                  </h4>
                  <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                      <div>
                        <h6 class="my-0">{{produto.nombre}}</h6>
                        <small class="text-muted">descripcion</small>
                      </div>
                      {% if periodo == 'free' %}
                      <span class="text-muted">$ 0 / m</span>
                      {% elif periodo == 'mensual' %}
                      <span class="text-muted">$ {{producto.precio}} / m</span>
                      {% elif periodo == 'anual' %}
                      <span class="text-muted">$ {{precioAnual}} / m</span>
                      {% endif %}
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                      <span>Total (MXN)</span>
                      {% if periodo == 'free' %}
                      <strong>0</strong>
                      {% elif periodo == 'mensual' %}
                      <strong>{{producto.precio}}</strong>
                      {% elif periodo == 'anual' %}
                      <strong>{{precioAnual}}</strong>
                      {% endif %}
                    </li>
                  </ul>
                </div>
                <div class="col-md-7 col-lg-8">
                  <h4 class="mb-3">Datos de compra</h4>
                  <form class="needs-validation" novalidate="">
                    <div class="row g-3">
                      <div class="col-sm-6">
                        <label for="firstName" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                          Valid first name is required.
                        </div>
                      </div>
          
                      <div class="col-sm-6">
                        <label for="lastName" class="form-label">Apellidos  </label>
                        <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                          Valid last name is required.
                        </div>
                      </div>
          
                      <div class="col-12">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" value="{{user.username}}">
                        <div class="invalid-feedback">
                          Please enter a valid email address for shipping updates.
                        </div>
                      </div>
          
                    <hr class="my-4">

                    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                        {% if periodo == 'mensual' %}
                        <div class="col">
                          <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                              <h4 class="my-0 fw-normal">Prueba</h4>
                            </div>
                            <div class="card-body">
                              <h2 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mes</small></h2>
                              <ul class="list-unstyled mt-3 mb-4">
                                <li>descripcion de plan</li>
                              </ul>
                              <a href="/payment/{{producto.id_producto}}/free"><button type="button" class="w-100 btn btn-lg btn-outline-primary">Elegir</button></a>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card mb-4 rounded-3 shadow-sm border-primary">
                            <div class="card-header py-3 text-bg-primary border-primary">
                              <h4 class="my-0 fw-normal">Mensual</h4>
                            </div>
                            <div class="card-body">
                              <h2 class="card-title pricing-card-title">${{producto.precio}}<small class="text-muted fw-light">/mes</small></h2>
                              <ul class="list-unstyled mt-3 mb-4">
                                <li>descripcion de plan</li>
                              </ul>
                              <a href="/payment/{{producto.id_producto}}/mensual"><button type="button" class="w-100 btn btn-lg btn-outline-primary">Elegir</button></a>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                              <h4 class="my-0 fw-normal">Anual</h4>
                            </div>
                            <div class="card-body">
                              <h2 class="card-title pricing-card-title">${{precioAnual}}<small class="text-muted fw-light">/año</small></h2>
                              <ul class="list-unstyled mt-3 mb-4">
                                <li>descripcion de plan</li>
                              </ul>
                              <a href="/payment/{{producto.id_producto}}/anual"><button type="button" class="w-100 btn btn-lg btn-outline-primary">Elegir</button></a>
                            </div>
                          </div>
                        </div>
                        {% elif periodo == 'anual' %}
                        <div class="col">
                          <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                              <h4 class="my-0 fw-normal">Prueba</h4>
                            </div>
                            <div class="card-body">
                              <h2 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mes</small></h2>
                              <ul class="list-unstyled mt-3 mb-4">
                                <li>descripcion de plan</li>
                              </ul>
                              <a href="/payment/{{producto.id_producto}}/free"><button type="button" class="w-100 btn btn-lg btn-outline-primary">Elegir</button></a>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                              <h4 class="my-0 fw-normal">Mensual</h4>
                            </div>
                            <div class="card-body">
                              <h2 class="card-title pricing-card-title">${{producto.precio}}<small class="text-muted fw-light">/mes</small></h2>
                              <ul class="list-unstyled mt-3 mb-4">
                                <li>descripcion de plan</li>
                              </ul>
                              <a href="/payment/{{producto.id_producto}}/mensual"><button type="button" class="w-100 btn btn-lg btn-outline-primary">Elegir</button></a>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card mb-4 rounded-3 shadow-sm border-primary">
                            <div class="card-header py-3 text-bg-primary border-primary">
                              <h4 class="my-0 fw-normal">Anual</h4>
                            </div>
                            <div class="card-body">
                              <h2 class="card-title pricing-card-title">${{precioAnual}}<small class="text-muted fw-light">/año</small></h2>
                              <ul class="list-unstyled mt-3 mb-4">
                                <li>descripcion de plan</li>
                              </ul>
                              <a href="/payment/{{producto.id_producto}}/anual"><button type="button" class="w-100 btn btn-lg btn-outline-primary">Elegir</button></a>
                            </div>
                          </div>
                        </div>
                        {% elif periodo == 'free' %}
                        <div class="col">
                          <div class="card mb-4 rounded-3 shadow-sm border-primary">
                            <div class="card-header py-3 text-bg-primary border-primary">
                              <h4 class="my-0 fw-normal">Prueba</h4>
                            </div>
                            <div class="card-body">
                              <h2 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mes</small></h2>
                              <ul class="list-unstyled mt-3 mb-4">
                                <li>descripcion de plan</li>
                              </ul>
                              <a href="/payment/{{producto.id_producto}}/free"><button type="button" class="w-100 btn btn-lg btn-outline-primary">Elegir</button></a>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                              <h4 class="my-0 fw-normal">Mensual</h4>
                            </div>
                            <div class="card-body">
                              <h2 class="card-title pricing-card-title">${{producto.precio}}<small class="text-muted fw-light">/mes</small></h2>
                              <ul class="list-unstyled mt-3 mb-4">
                                <li>descripcion de plan</li>
                              </ul>
                              <a href="/payment/{{producto.id_producto}}/mensual"><button type="button" class="w-100 btn btn-lg btn-outline-primary">Elegir</button></a>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                              <h4 class="my-0 fw-normal">Anual</h4>
                            </div>
                            <div class="card-body">
                              <h2 class="card-title pricing-card-title">${{precioAnual}}<small class="text-muted fw-light">/año</small></h2>
                              <ul class="list-unstyled mt-3 mb-4">
                                <li>descripcion de plan</li>
                              </ul>
                              <a href="/payment/{{producto.id_producto}}/anual"><button type="button" class="w-100 btn btn-lg btn-outline-primary">Elegir</button></a>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                      </div>

                    <hr class="my-4">
          
                    <h4 class="mb-3">Metodo de pago</h4>
          
                    <div class="my-3">
                      <div class="form-check">
                        <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
                        <label class="form-check-label" for="credit">Tarjeta de credito</label>
                      </div>
                      <div class="form-check">
                        <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required="">
                        <label class="form-check-label" for="debit">Tarjeta de debito</label>
                      </div>
                      <div class="form-check">
                        <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required="">
                        <label class="form-check-label" for="paypal">PayPal</label>
                      </div>
                    </div>
          
                    <div class="row gy-3">
                      <div class="col-md-6">
                        <label for="cc-name" class="form-label">Nombre en la tarjeta</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                        <small class="text-muted">nombre completo mostrado en la tarjeta</small>
                        <div class="invalid-feedback">
                          Name on card is required
                        </div>
                      </div>
          
                      <div class="col-md-6">
                        <label for="cc-number" class="form-label">numero de la tarjeta</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                        <div class="invalid-feedback">
                          Credit card number is required
                        </div>
                      </div>
          
                      <div class="col-md-3">
                        <label for="cc-expiration" class="form-label">Expiration</label>
                        <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                        <div class="invalid-feedback">
                          fecha de expiracion
                        </div>
                      </div>
          
                      <div class="col-md-3">
                        <label for="cc-cvv" class="form-label">CVV</label>
                        <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                        <div class="invalid-feedback">
                          CVV
                        </div>
                      </div>
                    </div>
                    <hr class="my-4">
          
                    <div class="row md-6">
                        <div class="col-6"><button class="w-100 btn btn-success" type="submit">Finalizar compra</button></div>
                        <div class="col-6"><a href="/productos" class="w-100 btn btn-danger">Cancelar</a></div>
                    </div>
                  </form>
                </div>
              </div>
            </main>
          </div>
          <br>
{% endblock  %}
{% block scripts %}
<script src="js/scripts.js"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
{% endblock  %}