{% extends 'template.html' %}
{% load static %}
{% block styles %}
        <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/css-bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/qa/line-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/qa/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/qa/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/qa/selectize.css' %}">
    <link rel="stylesheet" href="{% static 'css/qa/style.css' %}">
    <style>
        .ocultar{display: none;}
        .mostrar{display: grid;}
    </style>
    <!-- end inject -->
{% endblock  %}
{% block content %}     
        <!-- ================================
         START QUESTION AREA
================================= -->
<section class="question-area pt-80px pb-40px" style="background-color: #eeeeee;">
    <div class="container">
        <!-- AREA NUEVA PREFUNTA -->
        <form method="POST">
            {% csrf_token %}
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header text-center">
                     Realizar una pregunta:
                     <button class="btn btn-primary" id="preguntaControl">Crear pregunta</button>
                    </div>
                    <div class="card-body ocultar" id="contenidoPregunta">
                
                          {{form.formQuestion.as_p}}
                      
                    </div>
                    <div class="card-footer d-grid gap-2 d-md-flex justify-content-md-end">
                      <button type="submit" class="btn btn-primary ocultar" id="contenidoPregunta2">Pubicar pregunta</button>
                    
                    </div>
            </div>
        </div>
    </form>
        <!-- FIN AREA NUEVA PREFUNTA -->
        <hr class="my-4">
        <div class="row">
            
            <div class="col-lg-10">
                <div class="question-tabs ">

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="questions" role="tabpanel" aria-labelledby="questions-tab">
                            <div class="filters d-flex align-items-center justify-content-between">
                                <h3 class="fs-17 fw-medium">Todas las Preguntas</h3>
                            </div><!-- end filters -->
                            <br>
                            <div class="question-main-bar">
                                <div class="questions-snippet">
                                    {% for i in questions %}
                                    <div class="media media-card media--card align-items-center text-bg-light border-succes">
                                        <div class="media-body">
                                            <div class="col-lg-6 d-flex p-2">
                                                <img src="{% static 'assets/img/user.png' %}" alt="mdo" width="32" height="32" class="rounded-circle">
                                                <p>&nbsp &nbsp</p>
                                                <input class="form-control" id="inputNotificationEmail" type="email" value="{{i.username}}" disabled />
                                            </div>
                                            <br>
                                            <h5>{{i.question}} (tipo: {{i.type}})(produto: {{i.producto}})</h5>
                                            <br>
                                            <p class="card-text" style="text-align: justify;">
                                                {{i.cuerpo}}
                                            </p>
                                            <small class="meta">
                                                <span class="pr-1">fecha:{{i.fecha}}</span>
                                            </small>
                                        </div>
                                        <div class="card-footer">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                {% for j in answers %}
                                                {% if j.id_quest == i.id_quest %}
                                                <div class="media media-card media--card align-items-center" style="background-color:#bcbcbc;">
                                                <div class="media-body">
                                                <div class="col-lg-6 d-flex p-2">
                                                    <img src="{% static 'assets/img/user.png' %}" alt="mdo" width="32" height="32" class="rounded-circle">
                                                    <p>&nbsp &nbsp</p>
                                                    <input class="form-control" id="inputNotificationEmail" type="email" value="{{j.username}}" disabled />
                                                </div>
                                                <br>
                                                <h5>{{j.answer}}</h5>
                                                <br>
                                                <p class="card-text" style="text-align: justify;">
                                                    {{j.cuerpo}}
                                                </p>
                                                <small class="meta">
                                                    <span class="pr-1">fecha:{{j.fecha}}</span>
                                                </small>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                            <form method="POST">
                                                {% csrf_token %}
                                                <div class="col-lg-12">
                                                    <div class="media media-card media--card align-items-center" style="background-color:#f3f6f4;">
                                                        <div class="card-header text-center">
                                                         Responder:
                                                        </div>
                                                        <div class="media-body">
                                                            <input type="text" name="id_quest" value="{{i.id_quest}}" hidden="" required="">
                                                              {{form.formAnswer.as_p}}
                                                          
                                                        </div>
                                                        <div class="card-footer d-grid gap-2 d-md-flex justify-content-md-end">
                                                          <button type="submit" class="btn btn-primary" >Publicar Respuestas</button>
                                                        
                                                        </div>
                                                </div>
                                            </form>
                                            </li>
                                          </ul>
                                        </div>
                                    </div><!-- end media -->
                                    {% endfor %} 
                                    </div>
                                </div><!-- end questions-snippet -->
                            </div><!-- end question-main-bar -->
                        </div><!-- end tab-pane -->
                    </div><!-- end tab-content -->
                </div><!-- end question-tabs -->
            </div><!-- end col-lg-7 -->            
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end question-area -->
<!-- ================================
         END QUESTION AREA
================================= --> 
{% endblock  %}   

{% block scripts %}
<script src="{% static 'js/pregunta.js' %}" ></script>
{% endblock  %}